.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: #007ACC; /* VSCode blue */
    color: #fff; /* white text */
    display: flex;
    align-items: center;
    justify-content: center;
  }